$accent-strong: #046966;
$accent: #05837f;
$accent-hoverable: #69b5b2;
$accent-light: #e6f3f3;
$additional: #ff0c39;
$additional-light: #fe765e;
$additional-hoverable: rgba(254, 118, 94, 0.1);
$text: #333333;
$gray: #989898;
$gray-dark: #b2b2b2;
$black: #000000;
$white: #ffffff;
$border: #ededed;
$descr: #6a6a6c;
